/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e2f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
/* Estilo do Toast */
    .toast {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      opacity: 0;
      transition: opacity 0.5s;
    }

.login-container {
    background-color: #2c2e3f;
    border-radius: 15px;
    padding: 40px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-container:hover {
    transform: translateY(-10px); /* Efeito 3D sem rotação */
    box-shadow: 0 15px 35px rgba(97, 101, 241, 0.5); /* Efeito de foco com sombra */}

h2 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #fff;
}

.input-group input {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.input-group input:focus {
    border-color: #6165f1;
    outline: none;
    
}

.btn-login {
    background-color: #6165f1;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-login:hover {
    background-color: #4c52d2;
    transform: scale(1.05); /* Efeito de aumento sem rotação */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.forgot-password {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.forgot-password:hover {
    color: #6165f1;
}

@media (max-width: 768px) {
    .login-container {
        padding: 30px;
    }

    h2 {
        font-size: 24px;
    }

    .input-group input {
        padding: 12px;
    }

    .btn-login {
        font-size: 16px;
    }
}


